.credit-score {
  margin-bottom: 20px;
}
.credit-score__header {
  margin-bottom: 5px;
  font-size: 20px;
}
.credit-score__buttons {
  display: flex;
  box-shadow: 0 2px 8px -1px gray;
  .credit-score__btn {
    flex-grow: 1;
    font-size: 20px;
    padding: 10px 2px;
    transition: .4s;
    border: 1px solid gray;
    &:hover {
      box-shadow: inset 0 0 6px gray;
    }
  }
  .credit-score__btn_active {
    background: blue;
    color: white;
    border: 1px solid blue;
  }
}