.months-buttons__btn {
  padding: 6px 10px;
  border: 1px solid gray;
  transition: .4s;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 6px gray;
  }
}
.months-buttons__btn_active {
  background: blue;
  color: white;
  border: 1px solid blue;
}