.input-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-block__header {
  font-size: 18px;
}
.input-block__input {
  display: flex;
  height: 26px;
  @mixin inputStyle {
    border: 1px solid gray;
  }
  span {
    @include inputStyle;
    width: 26px;
    text-align: center;
    background: lightgray;
    line-height: 24px;
  }
  input {
    @include inputStyle;
    display: inline-block;
    padding: 4px 5px;
    font-size: 20px;
    max-width: 100px;
  }
}