.tab-wrapper {
  display: flex;
  background: lightblue;
  border: 1px solid gray;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}
.tab {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  background: white;
  border: 1px solid gray;
  border-top: none;
  cursor: pointer;
  transition: .2s;
  outline: none;
  .tab__money span {
    font-weight: bold;
    font-size: 22px;
  }
}
.tab__active {
  background: lightblue;
  border: none;
}