.months {
  margin-bottom: 30px;
}
.months__header {
  font-size: 20px;
  margin-bottom: 5px;
}
.months__buttons {
  display: flex;
  box-shadow: 0 2px 8px -1px gray;
  .months-buttons__btn {
    flex-grow: 1;
  }
}